body {
  font-family: Arial, sans-serif;
  background: #e3f0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
table {
  background: rgb(253, 253, 253);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
}
input, select {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[readonly] {
  background: #e1eaf5;
}
input[type="button"]{
  background: rgb(205, 154, 255);
  color:#fff;
  cursor:pointer;
  padding:8px 12px;
  border-radius:6px;
  width: auto;
}
input[type="button"]:hover{
  background:rgb(118, 63, 173);
}
td { padding: 6px 8px; vertical-align: middle; }
