body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: white;
  padding: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

input, button {
  padding: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

small {
  color: red;
  font-size: 12px;
}

#strength {
  font-size: 12px;
  font-weight: bold;
}
